@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap);body {
  font-family: "montserrat", san-serif;
}

.container {
  position: relative;
  width: 500px;
  height: 500px;
  border: 1px solid gray;
}

#canvas {
  widtH: 100%;
  height: 100%;
}

.bg-image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.btn-download {
  background: red;
  padding: 1rem 2rem;
  color: white;
  text-decoration: none;
}

.btn-container {
  display: block;
  margin-top: 2rem;
}

